.container{
    display:block;
    width:100%;
}
.header_head{
display:inline-table ;
width: 100px;
}
/* .header_head{
display:inline-block ;
width: 100px;
} */
.title{
    height:30px;
    width: 100%;
    border: 1px;
    align-items: center;
    text-align: center;
    border-style: solid;
    font-size: 13px;
    font-family: 'Sofia Pro', sans-serif;
    background-color: #F0F0F0;
    border-color: rgba(159, 166, 180, 0.5);
}
.body_bo1{
    height:30px;
    width: 100%;
    border: 1px;
    font-family: 'Sofia Pro', sans-serif;
    text-align: center;
    font-size: 9px;
    justify-content: center;
    border-style: solid;
    border-color: rgba(159, 166, 180, 0.5);
}
.body_bo1_em{
    height:30px;
    width: 100%;
    border: 1px;
    font-family: 'Sofia Pro', sans-serif;
    text-align: center;
    font-size: 9px;
    justify-content: center;
    border-style: solid;
    color:white;
    border-color: white;
}
.body_bo1_red{
    height:30px;
    width: 100%;
    border: 1px;
    font-family: 'Sofia Pro', sans-serif;
    text-align: center;
    font-size: 9px;
    justify-content: center;
    border-style: solid;
    color:white;
    border-color: rgba(159, 166, 180, 0.5);
    background-color: #FF162C;;
}
.body_bo1_green{
    height:30px;
    width: 100%;
    border: 1px;
    font-family: 'Sofia Pro', sans-serif;
    text-align: center;
    font-size: 9px;
    justify-content: center;
    border-style: solid;
    border-color: rgba(159, 166, 180, 0.5);
    background-color:  #00B53F;
}
.body_bo1_brown{
    height:30px;
    width: 100%;
    border: 1px;
    font-family: 'Sofia Pro', sans-serif;
    text-align: center;
    font-size: 9px;
    justify-content: center;
    border-style: solid;
    border-color: rgba(159, 166, 180, 0.5);
    color: white;
    background-color: #831A23;
}
.body_bo1_orange{
    height:30px;
    width: 100%;
    border: 1px;
    font-family: 'Sofia Pro', sans-serif;
    text-align: center;
    font-size: 9px;
    justify-content: center;
    border-style: solid;
    border-color: rgba(159, 166, 180, 0.5);
    background-color: #FF8F0B;
}
/* @media (max-width:767px) {
    .header_head{
        width: auto 100px;
        }
}
@media (max-width:670px) {
    .header_head{
        width: auto 100px;
        }
} */
